# ユーザーID
#省略時: 実行ユーザーのUIDを使用
UID=1000
# グループID
#省略時: 実行ユーザーのGIDを使用
GID=1000
# ユーザー名
#省略時: 実行ユーザーのユーザー名を使用
USERNAME=appuser
# グループ名
#省略時: 実行ユーザーのグループ名を使用
GROUPNAME=appuser
# pyenvでインストールするpythonのバージョン
PYTHON_VERSION=3.14.0
# 追加インストールするNodeJSのバージョン
NODE_VERSION=24
# AIエージェントの有効化(とりあえずfalse)
ENABLE_CURSOR=false
ENABLE_GEMINI=false
ENABLE_CODEX=false
ENABLE_CLAUDE=false